
* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.notchatbot {
  min-height: 100vh;
   /*background: url("../images/Searchs_130.png"); */
  background-position: bottom right;
  background-repeat: no-repeat;
  background-size: 100%;
  padding: 15px;    width: 70%;
  margin: auto;
  max-width: 800px;
}

.notchatbot form {
  width: 80%;
  max-width: 790px;
  float: right;
}

.notchatbot form .inner-form {
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: center;
      align-items: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid #aaaaaa;
  overflow: hidden;
}

.notchatbot form .inner-form .input-field {
  height: 68px;
}

.notchatbot form .inner-form .input-field input {
  height: 100%;
  background: transparent;
  border: 0;
  display: block;
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #000;
}

.notchatbot form .inner-form .input-field input.placeholder {
  color: #aaaaaa;
  font-size: 16px;
}

.notchatbot form .inner-form .input-field input:-moz-placeholder {
  color: #aaaaaa;
  font-size: 16px;
}

.notchatbot form .inner-form .input-field input::-webkit-input-placeholder {
  color: #aaaaaa;
  font-size: 16px;
}

.notchatbot form .inner-form .input-field input:hover, .notchatbot form .inner-form .input-field input:focus {
  box-shadow: none;
  outline: 0;
}

.notchatbot form .inner-form .input-field.first-wrap {
  -ms-flex-positive: 1;
      flex-grow: 1;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;

}

.notchatbot form .inner-form .input-field.first-wrap input {
  -ms-flex-positive: 1;
  flex-grow: 1;
  /*text-align: right;*/
  padding-left: 30px;
  font-size: 25px;
}

.notchatbot form .inner-form .input-field.first-wrap .svg-wrapper {
  min-width: 40px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  padding: 0 10px;
}

.notchatbot form .inner-form .input-field.first-wrap svg {
  width: 26px;
  height: 26px;
  fill: #222;
}

.notchatbot form .inner-form .input-field.second-wrap {
  min-width: 150px;
}

.notchatbot form .inner-form .input-field.second-wrap .btn-search {
  height: 100%;
  width: 100%;
  white-space: nowrap;
  font-size: 25px;
  color: #28A036;
  border: 0;
  cursor: pointer;
  position: relative;
  z-index: 0;
  background: #fff;
  transition: all .2s ease-out, color .2s ease-out;
  font-weight: bold;
}

.notchatbot form .inner-form .input-field.second-wrap .btn-search:hover {
  background: #28A036;
  color: #fff;
  cursor: pointer;
}

.notchatbot form .inner-form .input-field.second-wrap .btn-search:focus {
  outline: 0;
  box-shadow: none;
}

.notchatbot form .info {
  font-size: 15px;
  color: #ccc;
  padding-left: 26px;
}
.first{
  padding-top: 24vh;
  margin-bottom: 30px;
  width: 100%!important;
}
.roundMess {
  height: 68px;
  width: 80%;
  white-space: nowrap;
  font-size: 25px;
  color: #000;
  border: 1px solid #aaaaaa;
  position: relative;
  z-index: 0;
  background: #fff;
  font-weight: 300;
  padding: 20px 30px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.round{
  border-radius: 34px;
  margin: 10px;
}
.right {
  float: right;
}
.left {
  float: left;
}

#yesButton {
  background: #28A036;
}

#noButton {
  background: #CE3B34;

}
.text-right {
  text-align: right;
}

.hidden {
  display: none;
}

/*# sourceMappingURL=Searchs_130.css.map */
